html {
  color: #ff6666;
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 50px;
}

#content {
  background-color: #b3ffff;
  border-radius: 25px;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

a:link {
  color: #ff80fe;
}

a:visited {
  color: #c080ff;
}

a:hover {
  color: #c080ff;
}
